<!-- Login page -->
<div class="alerts">
  <% flash.each do |key, value| %>
      <div class="<%= flash_class(key.to_sym) %>">
        <%= value %>
      </div>
  <% end %>
</div>

<%= form_for(:session, url: login_path, method: 'post', html: {id: :login } ) do |f| %>

    <div style="font-size: 10px;" onClick="alert('Admin PID: 987654321\nFaculty PID: 111122223')"> Click for Hint! </div>
    <%= f.label :PID %>
    <%= f.text_field :PID %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Not Supported" %>

    <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>