
console.log('in search js');

var name= "<td class='ctable'> <%=@course.name %></td>";
var number= "<td class='ctable'> <%= puts @course.number; @course.number%></td>";
var category = "<td class='ctable'> <%= @course.category %></td>";
var teacher = "<td class='ctable'> <%= @faculty.lastName %></td>";
var section = "<td class='ctable'> <%= @faculty.sectionNumber %></td>";
var semester = "<td class='ctable'> <%= @semester.semester + " " + @semester.year.to_s %></td>";
var destroy=  "<td class ='ctable touch'> <a rel='nofollow' data-method='delete' href='/course_histories?course_history%5Bid%5D=<%= @history.id %>&amp;course_history%5Bstudent_id%5D=<%= @student.id %>'>Unenroll</a> </td>";

$(".course_table").append("<tr class='ctable'>"+name+number+teacher+section+category+semester+destroy+"</tr>");//<tr class='temp'>"+name+number+time+category+"</tr>

$("#course_history ul.nav li:nth-child(1) a").tab('show');

$(".alerts").append("<div class='alert alert-success'> Student Successfully Enrolled  </div>");

$('#new_course_description')[0].reset();
