<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @course_description.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course_description.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @course_description.section %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course_description.teacher %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course_description.semester %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course_description.category %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course_description.hours %>
</p>

<%= link_to 'Edit', edit_course_description_path(@course_description) %> |
<%= link_to 'Back', course_descriptions_path %>
