<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field left">
      <%= f.label :firstName, 'First Name' %>
      <%= f.text_field :firstName %>
    </div>
    <div class="field right">
      <%= f.label :lastName, 'Last Name' %>
      <%= f.text_field :lastName %>
    </div>
    <div class="field left">
      <%= f.label :PID %>
      <%= f.text_field :PID %>
    </div>
    <div class="field right">
      <%= f.label :alternativeName, 'Alternate Name' %>
      <%= f.text_field :alternativeName %>
    </div>
    <div class="field left">
      <%= f.label :gender, 'Gender' %>
      <%= f.text_field :gender %>
    </div>
    <div class="field right">
      <%= f.label :ethnicity, 'Ethnicity' %>
      <%= f.text_field :ethnicity %>
    </div>
    <div class="field left">
      <%= f.label :status, 'Status' %>
      <%= f.text_field :status %>
    </div>
    <div class="field right">
      <%= f.label :citizenship, 'Citizenship' %>
      <%= f.text_field :citizenship %>
    </div>
    <div class="field left">
      <%= f.label :residency, 'Residency' %>
      <%= f.text_field :residency %>
    </div>
    <div class="field right">
      <%= f.label :enteringStatus, 'Entering Status' %>
      <%= f.text_field :enteringStatus %>
    </div>
    <div class="field left">
      <%= f.label :advisor, 'Advisor' %>
      <%= f.text_field :advisor %>
    </div>
    <div class="field right">
      <%= f.label :researchArea, 'Research Area' %>
      <%= f.text_field :researchArea %>
    </div>
    <div class="field left">
      <%= f.label :semesterStartedCS, 'Semester started at UNC' %>
      <%= f.text_field :semesterStartedCS %>
    </div>
    <div class="field right">
      <%= f.label :backgroundApproved, 'Background Approved' %>
      <%= f.text_field :backgroundApproved %>
    </div>
    <div class="field left">
      <%= f.label :leaveExtension, 'Leave Extension' %>
      <%= f.text_field :leaveExtension %>
    </div>
    <div class="field right">
      <%= f.label :fundingStatus, 'Funding Status' %>
      <%= f.text_field :fundingStatus %>
    </div>
    <div class="field left">
      <%= f.label :fundingEligibility, 'Funding Eligibility' %>
      <%= f.text_field :fundingEligibility %>
    </div>
    <div class="field right">
      <%= f.label :intendedDegree, 'Intended Degree' %>
      <%= f.text_field :intendedDegree %>
    </div>
    <div class="field left">
      <%= f.label :coursesTaken, 'Number of Courses Taken' %>
      <%= f.text_field :coursesTaken %>
    </div>
    <div class="field right">
      <%= f.label :hoursCompleted, 'Number of Hours Completed' %>
      <%= f.text_field :hoursCompleted %>
    </div>

  <div class="actions left">
    <%= f.submit %>
  </div>
<% end %>
