<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :firstName %>
      <%= f.text_field :firstName %>
    </div>
    <div class="field">
      <%= f.label :lastName %>
      <%= f.text_field :lastName %>
    </div>
    <div class="field">
      <%= f.label :PID %>
      <%= f.text_field :PID %>
    </div>
    <div class="field">
      <%= f.label :alternativeName %>
      <%= f.text_field :alternativeName %>
    </div>
    <div class="field">
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </div>
    <div class="field">
      <%= f.label :ethnicity %>
      <%= f.text_field :ethnicity %>
    </div>
    <div class="field">
      <%= f.label :status %>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :citizenship %>
      <%= f.text_field :citizenship %>
    </div>
    <div class="field">
      <%= f.label :residency %>
      <%= f.text_field :residency %>
    </div>
    <div class="field">
      <%= f.label :enteringStatus %>
      <%= f.text_field :enteringStatus %>
    </div>
    <div class="field">
      <%= f.label :advisor %>
      <%= f.text_field :advisor %>
    </div>
    <div class="field">
      <%= f.label :researchArea %>
      <%= f.text_field :researchArea %>
    </div>
    <div class="field">
      <%= f.label :semesterStartedCS %>
      <%= f.text_field :semesterStartedCS %>
    </div>
    <div class="field">
      <%= f.label :backgroundApproved %>
      <%= f.text_field :backgroundApproved %>
    </div>
    <div class="field">
      <%= f.label :leaveExtension %>
      <%= f.text_field :leaveExtension %>
    </div>
    <div class="field">
      <%= f.label :fundingStatus %>
      <%= f.text_field :fundingStatus %>
    </div>
    <div class="field">
      <%= f.label :fundingEligibility %>
      <%= f.text_field :fundingEligibility %>
    </div>
    <div class="field">
      <%= f.label :intendedDegree %>
      <%= f.text_field :intendedDegree %>
    </div>
    <div class="field">
      <%= f.label :coursesTaken %>
      <%= f.text_field :coursesTaken %>
    </div>
    <div class="field">
      <%= f.label :hoursCompleted %>
      <%= f.text_field :hoursCompleted %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
