<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<% @student.jobs.all.each do |job| %>       <!--Goes to the junction table between student and course_descriptions and gets all the courses a student has taken and puts each one into a row respectively with the below format -->
    <tr class="ctable">
      <td class="ctable"> <%= job.title =%></td>
      <td class="ctable"> <%= job.semester =%></td>
      <%= link_to 'Edit', edit_job_path(job) %> |
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td> <br/>
    </tr>
<% end %>

<br/>

<%= form_for(@job, :url => url_for(:controller => 'jobs', :action => 'create')) do |f| %>
    <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

          <ul>
            <% @job.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :student_id %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :semester %>
      <%= f.text_field :semester %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<% @student.documents.all.each do |document| %>
    <tr>
      <td><a target="_blank" href="<%= asset_path(document.location)%>"> <%= document.title %> </a> </td>
      <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %></td> <br/>
    </tr>
<% end %>

<%= form_for(@document, :url => url_for(:controller => 'documents', :action => 'create')) do |f| %>
    <div class="field">
      <%= f.label :File %>
      <%= f.file_field :location %>
    </div>

    <%= f.hidden_field :student_id %>

    <div class="field">
      <%= f.label :Document_Type %>
      <%= f.select(:title, options_for_select(["Select One",
                                               "Background Preparation Worksheet",
                                               "Course Waiver",
                                               "M.S. Program of Study",
                                               "Outside Review Option",
                                               "Request for Appointment of M.S. Committee",
                                               "Ph.D. Program of Study",
                                               "Report of Disapproval of Dissertation Proposal",
                                               "Technical Writing Requirement",
                                               "Report of Preliminary Research Presentation",
                                               "Teaching Requirement",
                                               "Report of Research Discussion",
                                               "Program Product Requirement"
                                              ], "Select One")) %>
    </div>

    <div class="actions">
      <%= f.submit "upload file" %>
    </div>
<% end %>
<td><%= link_to 'Delete Student', @student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
