<!-- Edit page. Admin uses this page to edit things about the student. Change their profile picture, deal with documents, courses, jobs, etc -->
<div class="side_bar">
  
  <div class="user">
    <img class="img-circle" alt="img" src="<%= @student.imageLocation ? asset_path(@student.imageLocation) : asset_path("defaults/default_profile_picture.jpg") %>" height="120">
    <h2> <%= @student.firstName + " " + @student.lastName %> </h2>
    <h5> <%=@student.intendedDegree + " Student" %> </h5>
    <h6> <%= @student.PID  %> </h6>
    <div class="bottom-border"></div>
  </div>
  <!-- Navigation buttons for the page. Bootstrap pills -->
  <div><a class='click' id="personal" data-toggle="pill" href="#basic_info"><div class="pillbutton">Personal Information</div></a></div>
  <div><a class='click' id="reqs" data-toggle="pill" href="#requirements"><div class="pillbutton">Degree Requirements</div></a></div>
  <div><a class='click'id="history" data-toggle="pill" href="#course_history"><div class="pillbutton">Course History</div></a></div>
  <div><a  class='click' id="docs" data-toggle="pill" href="#documents"><div class="pillbutton">Documents</div></a></div>
  <div><a class='click' id="work" data-toggle="pill" href="#jobs"><div class="pillbutton">Jobs</div></a></div>

  <div><a class='click' href="http://cs.unc.edu/academics/graduate/ms-requirements/progress-forms/" target="_blank"><div class="pillbutton">Progress Forms</div></a></div>
  <div><a class='click' href="http://cs.unc.edu/academics/teaching-schedules/" target="_blank"><div class="pillbutton">List of Courses</div></a></div>
  <div><a class='click'  href="http://cs.unc.edu/info-for/current-students/" target="_blank"><div class="pillbutton">Info for Current Students</div></a></div>
  <div><a class='click'  href="http://handbook.unc.edu/" target="_blank"><div class="pillbutton">Graduate School Handbook</div></a></div>
  <div><a class='click'  href="http://cs.unc.edu/academics/graduate/ms-requirements/course-categories/" target="_blank"><div class="pillbutton">Course Categories</div></a></div>
  <div><a class='click'  href="/students"><div class="pillbutton">Back to Homepage</div></a></div>
  <div><a class='click'  href="/login" data-method="delete" ><div class="pillbutton"> Log Out </div></a></div>
  
</div>
<!-- SIDE BAR ends -->

<div class="container">
  <div class="tab-content">
    <!--Buttons link to here. Based on their id, they show different pieces of content. -->
    <div id="basic_info" class="tab-pane fade in active">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#personal_info">Personal Information</a></li>
        <li><a data-toggle="tab" href="#upload_picture">Upload Profile Picture</a></li>
      </ul>
      <div class="tab-content">
        <div id="personal_info" class="tab-pane fade in active">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alerts">
              <% flash.each do |type, message| %>
                  <div class="alert <%= flash_class(type.to_sym) %>">
                    <%= message %>
                  </div>
              <% end %>
            </div>
            <%= render 'form', student: @student, function: "update" %>
           
          </div>
        </div>
      </div>
      <div id="upload_picture" class="tab-pane fade">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alerts"> </div>
            <%= render 'upload_photo', student: @student %>
        </div>
        </div>
      </div>
      </div>
    </div> <!-- Basic info tab. Calls _form to show and edit information. Also calls _upload_photo to change pics -->

    <div id="requirements" class="tab-pane fade in">    <!-- Requirements tab. Shows the progress towards the degrees -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#masters">Masters</a></li>
        <li><a data-toggle="tab" href="#PhD">Ph.D</a></li>
        <li><a id="expand" onclick="expandAll()"> Expand All </a></li>
      </ul>
      <div class="tab-content">
        <!-- Masters TAB BEGINS -->
        <div id="masters" class="tab-pane fade in active">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#course_work">
                    Course Work</a>
                </h4>
              </div>
              <div id="course_work" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="checklist">
                    <div class="requirement">
                      <input type="checkbox" title ="requirementHrs" <%= if (@total_hours==30) then "checked" else "" end %> disabled="disabled" >
                      <div class="requirement_description">
                        Minimum 30 hours total of courses conferring graduate credit. <em>[ Credit Hours Total: <%=@total_hours %> ]</em>
                      </div>
                    </div>
                    <div class="requirement">
                      <input type="checkbox" title ="csrequirement" <%= if (@comp_hours==18) then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Minimum 18 hours of COMP courses. (excluding 990, 991 sections) <em>[ COMP Credit Hours Total: <%=@comp_hours %> ]</em>
                      </div>
                    </div>
                    <div class="requirement">
                      <input type="checkbox" title ="theserequirementHrs" <%= if (@ntwo||@nthree) then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Minimum 3 hours of COMP 992 or COMP 993 (formal thesis) - maximum of 6 hours <em>[<%= if (@ntwo) then "992" else end %><%= if (@nthree) then "993" else end %><%= if (!@ntwo && !@nthree) then "Neither 992/993 Taken" else end %> ]</em>
                      </div>
                    </div>
                    <div class="breadth"> Breadth Requirements [Note: At most one course in the set can be at the 500 level. The other courses must be at the 600 level or above.] </div>
                    <div class="wrapper">
                      <div class="requirement">
                        <input type="checkbox" title ="catagoryreq"<%= if (@theory) then "checked" else "" end %> disabled="disabled">
                        <div class="requirement_description">
                          One Theory & Formal Thinking Course  <em>[ <%= if @theory then "Highest Number Course: " + @theory_course else "Course of this type not yet taken" end %> ]</em>
                        </div>
                      </div>
                      <div class="requirement">
                        <input type="checkbox" title ="catagoryreq2"<%= if (@systems) then "checked" else "" end %> disabled="disabled">
                        <div class="requirement_description">
                          One Systems & Hardware Course <em>[<%= if @systems then "Highest Number Course: " + @systems_course else "Course of this type not yet taken" end %> ]</em>
                        </div>
                      </div>
                      <div class="requirement">
                        <input type="checkbox" title ="catagoryreq3"<%= if (@applications) then "checked" else "" end %> disabled="disable<d">
                        <div class="requirement_description">
                          One Applications Course <em>[<%= if @applications then "Highest Number Course: " + @applications_course else "Course of this type not yet taken" end %> ]</em>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#program_requirements">
                    Program Requirements</a>
                </h4>
              </div>
              <div id="program_requirements" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="checklist">

                    <div class="requirement">
                      <input id="background_check" type="checkbox" title ="formrec"<%= if @doc_titles.include? "Background Preparation Worksheet" then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Background Preparation Worksheet (CS-01)
                      </div>
                    </div>
                    <%# raise @doc_titles.inspect %>
                    <div class="requirement">
                      <input id="ms_check" type="checkbox" title ="formrec2"<%= if @doc_titles.include? "M.S. Program of Study" then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        M.S. Program of Study (CS-03)
                      </div>
                    </div>
                    <div class="requirement">
                      <input id="product_check" type="checkbox" title ="formrec3"<%= if @doc_titles.include? "Program Product Requirement" then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Program Product Requirement (CS-13)
                      </div>
                    </div>
                    <div class="requirement">
                      <input id="writing_check" type="checkbox" title ="formrec4"<%= if @doc_titles.include? "Technical Writing Requirement" then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Writing Requirement (CS-08 or CS-04)
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div> <!-- Takes variables from students controller to fill in information on this page. -->
        <!-- Masters TAB ENDS -->
        <!-- Ph.D TAB BEGINS -->
        <div id="PhD" class="tab-pane fade"> <!-- Takes variables from students controller to fill in information on this page. -->
          <div class="panel-group" >
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a > <%= if (@phdDate!="") then "Admitted to PhD program on " +@phdDate else "Not yet admitted to PhD program " end %>
                    </a>
                </h4>
              </div>
              </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Course Work</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="checklist">
                    <div class="requirement">
                      <input type="checkbox"  title ="phdrec1"<%= if (@abd=="Yes") then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                       ABD
                      </div>
                    </div>
                    <div class="requirement">
                      <input type="checkbox" title ="phdrec2"  <%= if (@nfour_taken) then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Minimum 6 hours of COMP 994 (formal thesis) <em>[ 994 Credit Hours Total: <%=@nfour_hours %> ]</em>
                      </div>
                    </div>

                    <div class="breadth"> Breadth Requirements [Note: At most one course in the set can be at the 500 level. The other courses must be at the 600 level or above.] </div>
                    <div class="wrapper">
                      <div class="requirement">
                        <input type="checkbox" title ="phdrec3"<%= if (@pTheory) then "checked" else "" end %> disabled="disabled">
                        <div class="requirement_description">
                          Theory & Formal Thinking Courses <em>[ Counted Courses:  <%=@theoryCourses %> ]</em>
                        </div>

                      </div>
                      <div class="requirement">
                        <input type="checkbox" title ="phdrec4" <%= if (@pSystems) then "checked" else "" end %> disabled="disabled">
                        <div class="requirement_description">
                          Systems & Hardware Courses  <em>[ Counted Courses: <%=@systemCourses %> ]</em>
                        </div>

                      </div>
                      <div class="requirement">
                        <input type="checkbox" title ="phdrec5" <%= if (@pApplications) then "checked" else "" end %> disabled="disabled">
                        <div class="requirement_description">
                          Applications Courses  <em>[ Counted Courses: <%=@appCourses %> ]</em>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Ph.D Program Requirements</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="checklist">

                    <div class="requirement">
                      <input type="checkbox" title ="phdrec6"<%= if @doc_titles.include? "Background Preparation Worksheet" then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Background Preparation Worksheet (CS-01)
                      </div>
                    </div>
                    <div class="requirement">
                      <input type="checkbox" title ="phdrec7"<%= if @doc_titles.include? "Program Product Requirement" then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Program Product Requirement (CS-13)
                      </div>
                    </div>

                    <div class="requirement">
                      <input type="checkbox" title ="phdrec8"<%= if @doc_titles.include? "Ph.D. Program of Study" then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        PhD Program of Study (CS-06)
                      </div>
                    </div>
                    <div class="requirement">
                      <input type="checkbox" title ="phdrec9"<%= if (@committee=="Yes") then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Proposal Approval and Committee Meeting
                      </div>
                    </div>
                    <div class="requirement">
                      <input type="checkbox" title ="phdrec10"<%= if (@oralExam=="Yes") then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        PhD Oral Comprehensive Exam
                      </div>
                    </div>
                    <div class="requirement">
                      <input type="checkbox" title ="phdrec11"<%= if (@prp=="Yes") then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        PRP Exam
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Dissertation</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="checklist">
                    <!-- TODO: Finish the rest of the Requirements! -->
                    <div class="requirement">
                      <input type="checkbox" title ="phdrec12"<%= if (@diss=="Yes") then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Dissertation defense
                      </div>
                    </div>
                    <div class="requirement">
                      <input type="checkbox" title ="phdrec13"<%= if (@final=="Yes") then "checked" else "" end %> disabled="disabled">
                      <div class="requirement_description">
                        Final And Approved Dissertation Submitted
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Ph.D TAB ENDS -->
      </div>
    </div>

    <div id="course_history" class="tab-pane fade">   <!--Course history tab. Shows what courses a student is enrolled in and the other tab entrolls them in courses. Uses _form under course_histories -->
      <ul class="nav nav-tabs">
        <li class="active"><a class='click' data-toggle="tab" href="#courses">Course History</a></li>
        <li><a class='click' data-toggle="tab" href="#enroll">Add Course to Student's History </a></li>

      </ul>
      <div class="tab-content">
        <div id="courses" class="tab-pane fade in active">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alerts">
              <% flash.each do |type, message| %>
                  <div class="alert <%= flash_class(type.to_sym) %>">
                    <%= message %>
                  </div>
              <% end %>
            </div>
            <table class="ctable course_table" style="width:75%">
              <tr class="ctable">
                <th class="ctable">Course Name</th>
                <th class="ctable">Course Number</th>
                <th class="ctable">Professor</th>
                <th class="ctable">Section</th>
                <th class="ctable">Semester</th>
                <th class="ctable">Category</th>
                <th class="ctable">Hours</th>
                <th class="ctable">Unenrollment</th>
              </tr>
              <% @student.course_histories.all.each do |course| %>
                  <tr class="ctable">
                    <% subject = course.course_description %>
                    <% time = course.semester %>
                    <% professor = time.faculty %>
                    <td class="ctable"> <%= subject.name %></td>
                    <td class="ctable"> <%= subject.number %></td>
                    <td class="ctable"> <%= professor.slice(:firstName, :lastName).values.join(" ")%></td>
                    <td class="ctable"> <%= professor.sectionNumber %></td>
                    <td class="ctable"> <%= time.slice(:semester, :year).values.join(" ") %></td>
                    <td class="ctable"> <%= subject.category%></td>
                    <td class="ctable"> <%= subject.hours%></td>
                    <td class ="ctable touch"> <%= link_to "Unenroll", {:controller => :course_histories, :course_history =>{:id => course.id, :student_id => @student.id}}, :method => :delete, :remote => true  %> </td>
                  </tr>
              <% end %>
            </table>
            </div>
          </div>
          </div>
        <div id="enroll" class="tab-pane fade">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="alerts"> </div>
              <%= render 'course_histories/form', course_history: @new_course_history %>
            </div>
          </div>
          </div>

          </div>
        </div>

    <div id="documents" class="tab-pane fade in"> <!-- Used to see documents associated with the student and also to add new documents. Uses _form under documents to add new documents. -->
      <ul class="nav nav-tabs">
        <li id="doc_tab" class="active"><a class="click" data-toggle="tab" href="#documents_tab"> Documents </a></li>
        <li id="doc_upload_tab"><a class="click" data-toggle="tab" href="#upload_doc"> Upload </a></li>
      </ul>
      <div class="tab-content">
        <div id="documents_tab" class="tab-pane fade in active">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alerts"> </div>
            <table id="documents_table" class="ctable" style="width:75%">
              <tr class="ctable">
                <th class="ctable">Document Type</th>
                <th class="ctable"> Last Update</th>
              </tr>
              <% @student.documents.all.each do |document| %>
                  <tr id=<%= "doc_row_#{document.id}" %> class="ctable">
                    <td class="ctable doc_title"><a target="_blank" href="<%= asset_path(document.location)%>"> <%= document.title %> </a> </td>
                    <td class="ctable"><a> <%= document.updated_at.localtime.strftime("%m/%d/%Y %I:%M %p") %> </a> </td>
                    <td class="ctable touch"><%= link_to 'Delete', document, method: :delete, :class => "docDelete", :data => {:remote => true,:format => "js"} %></td>
                  </tr>
              <% end %>
              </table>
            </div>
            </div>
            </div>
            <div id="upload_doc" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="alerts"> </div>
                 <h2> Get Blank Documents</h2>
                  <form action="http://cs.unc.edu/academics/graduate/ms-requirements/progress-forms/" method="get" target="_blank">
                    <input type="submit" value="Get blank documents"
                           name="Submit" target="_blank"/>
                  </form>
                <h2> Add a Document </h2>
                <%= render 'documents/form', document: @document %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="jobs" class="tab-pane fade in"> <!-- Used to view jobs the student has and to add new jobs they are associated with. Used with _form under jobs -->
      <ul class="nav nav-tabs">
        <li class="active"><a class="click"data-toggle="tab" href="#jobs_tab">Jobs</a></li>
        <li><a data-toggle="tab" class="click" href="#add_job">Add New Job</a></li>
      </ul>
      <div class="tab-content">
        <div id="jobs_tab" class="tab-pane fade in active">
         <div class="panel panel-default">
          <div class="panel-body noBreaks">
            <div class="alerts"> </div>
            <table id="jobs_table" class="ctable" style="width:75%">
              <tr class="ctable">
                <th class="ctable">Position</th>
                <th class="ctable">Semester</th>
                <th class="ctable">Supervisor</th>
                <th class="ctable">Class</th>
              </tr>
              <% @student.jobs.all.each do |job| %>       <!--Goes to the junction table between student and @course_descriptions and gets all the courses a student has taken and puts each one into a row respectively with the below format -->
                  <tr class="ctable">
                    <td class="ctable"> <%= job.position =%></td>
                    <td class="ctable"> <%= job.current =%></td>
                    <td class="ctable"> <%= job.supervisor =%></td>
                    <td class="ctable"> <%= job.course =%></td>
                    <td class="ctable touch"><%= link_to 'Destroy', job, method: :delete %></td> <br/>
                  </tr>
              <% end %>
              </table>
            </div>
          </div>
        </div>
        <div id="add_job" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="alerts"> </div>
                   <%= render 'jobs/form', job: @job %>
                </div>
             </div>
            </div>
      </div>
    </div>

  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select Existing Course</h4>
      </div>
      <div  id="class_search_results"class="modal-body">
        <p>Have courses shown here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>