<div class="side_bar">
  <img class="img-circle" src="<%= asset_path("uploads/djsakjda/unc-old-well.jpg") %>" height="120">
  <div id="searchBottom">
    <h2> Search Students</h2>
    <input id="search" type="text" name="search" placeholder="Search..">
    <ul class="nav nav-pills">
      <li class="searchButton"><a href="/students/new">Advanced Search Filters</a></li><br>
      <li class="searchButton"><a href="#">Search</a></li>

    </ul>

  </div>
  <h2> Add Student(s)</h2>
  <ul class="searchAdd">

    <ul class="nav nav-pills">
      <li class="addButton"><a href="/students/new">Add a Student</a></li><br>
      <li id="bottomSetter" class="addButton"><a href="#">Add Students</a></li>

    </ul>
  </ul>
  <div id="addCourses">
    <h2> Add Course</h2>
    <ul class="searchAdd">




      <ul class="nav nav-pills">
        <li class="addButton"><a href="/course_descriptions/new">Add a Course</a></li><br>


      </ul>
    </ul>

  </div>
</div>
<!-- SIDE BAR ends -->
<div class="container">
  <h2 id="searchResults"> Search Results</h2>
  <table class="stable srow">


    <tbody>
    <% @students.each do |student| %>
        <tr class="stable srow">
          <td class="stable"><%= student.firstName %> <%= student.lastName %></td>
          <td class="stable"><%= link_to 'Show', student %></td>
          <td class="stable"><%= link_to 'Edit', edit_student_path(student) %></td>
          <td class="stable"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>



