<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<div> Courses </div>
<% @student.course_descriptions.all.each do |course| %>       <!--Goes to the junction table between student and @course_descriptions and gets all the courses a student has taken and puts each one into a row respectively with the below format -->
    <tr class="ctable">
      <td class="ctable"> <%= course.name =%></td>
      <td class="ctable"> <%= course.number =%></td>

      <td class="ctable"> <%= course.section =%> </td>
      <td class="ctable"> <%= course.semester =%> </td>
      <td class=ctable"><%= course.category =%></td>
      <!--#Destroy Course History Here. :course_history =>{:student_id => @student.id, :course_id => course.id  }-->
    </tr> <br/>
<% end %>
<br/>


<div> Jobs </div>
<% @student.jobs.all.each do |job| %>       <!--Goes to the junction table between student and course_descriptions and gets all the courses a student has taken and puts each one into a row respectively with the below format -->
    <tr class="ctable">
      <td class="ctable"> <%= job.title =%></td>
      <td class="ctable"> <%= job.semester =%></td>
      <br/>
    </tr>
<% end %>

<br/>

<div> Documents </div>
<% @student.documents.all.each do |document| %>
    <tr>
      <td><a target="_blank" href="<%= asset_path(document.location)  %>"> <%= document.title %> </a> </td>
    </tr>
<% end %>

<br/>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
