<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @faculty.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @faculty.lastName %>
</p>

<p>
  <strong>Sectionnumber:</strong>
  <%= @faculty.sectionNumber %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @faculty.PID %>
</p>

<p>
  <strong>Isadmin:</strong>
  <%= @faculty.isAdmin %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
