<%= form_for(@job, :remote => true, :url => url_for(:controller => 'jobs', :action => 'create')) do |f| %>
    <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

          <ul>
            <% @job.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :student_id %>

    <div class="field left">
      <%= f.label :position %>
      <%= f.text_field :position, :value => "" %>
    </div>

    <div class="field right">
      <%= f.label :supervisor %>
      <%=f.select(:supervisor,["Ahalt S","Aikat J","Alterovitz R","Anderson J","Bansal M","Baruah S","Berg A","Berg T","Biship G","Dewan P","Fern M","Frahm J","Fuchs H","Jeffay K","Jojic V","Jordan K","Joseph-Nicholas T","Kaur J","Lastra A","Lin M","Manocha D","Mayer-Patel K","McMillan L","Monrose F","Niethammer M","Nirjon S","Pizer S","Plaisted D","Porter D","Pozefsky D","Prins J","Reiter M","Singh M","Smith F","Snoeyink J","Stotts D","Sturton C","Styner M","Whitton M"])%>
    </div>

    <div class="field right">
      <%= f.label :semester %>
      <%= f.select(:semester,%w(Fall Spring Summer)) %>
      <%= f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 3) %>

    </div>

    <div class="field left">
      <%= f.label :course %>
      <%= f.text_field :course, :value => "" %>
    </div>

    <div class="actions right  ">
      <%= f.submit %>
    </div>
<% end %>