<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @job.semester %>
</p>

<p>
  <strong>Student:</strong>
  <%= @job.student %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
