$(".alerts").html("");

if(<%= @courseError %> ){

  $(".alerts").append("<div class='alert alert-danger'> Course could not be found! </div>");

} else if (<%= @semesterError %>) {

  $(".alerts").append("<div class='alert alert-danger'> Semester for course could not be found! </div>");

} else {
  console.log('in search js');
  var name= "<td class='ctable'> <%=@course.name if @course%></td>";
  var number= "<td class='ctable'> <%= @course.number if @course%></td>";
  var category = "<td class='ctable'> <%= @course.category if @course%></td>";
  var teacher = "<td class='ctable'> <%= @faculty.firstName+" "+@faculty.lastName if @faculty%></td>";
  var section = "<td class='ctable'> <%= @faculty.sectionNumber if @faculty%></td>";
  var semester = "<td class='ctable'> <%= @semester.semester + " " + @semester.year.to_s  if @semester%></td>";
  var destroy=  "<td class ='ctable touch'> <a data-remote='true' rel='nofollow' data-method='delete' href='/course_histories?course_history%5Bid%5D=<%= @history.id if @history%>&amp;course_history%5Bstudent_id%5D=<%= @student.id %>'>Unenroll</a> </td>";

  $(".course_table").append("<tr class='ctable'>"+name+number+teacher+section+semester+category+destroy+"</tr>");//<tr class='temp'>"+name+number+time+category+"</tr>

  $("#course_history ul.nav li:nth-child(1) a").tab('show');

  $(".alerts").append("<div class='alert alert-success'> Student Successfully Enrolled  </div>");

  $('#new_course_description')[0].reset();

}
